
{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="{% static 'css/bootstrap.css' %}">
    <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static 'css/bootstrap-grid.css' %}">
    <link rel="stylesheet" href="{% static 'css/bootstrap-grid.min.css' %}">
    <link rel="stylesheet" href="{% static 'css/bootstrap-reboot.css' %}">
    <link rel="stylesheet" href="{% static 'css/bootstrap-reboot.min.css' %}">
</head>
<body>
    <center><h1>hi iam radha my favourite cartoon heidi</h1>
        <button type="button" class="btn btn-success">Success</button>
    </center>
    <script src="{% static 'js/bootstrap.js' %}"></script>
    <script src="{% static 'js/bootstrap.min.js' %}"></script>
    <script src="{% static 'js/bootstrap.bundle.js' %}"></script>
    <script src="{% static 'js/bootstrap.bundle.min.js' %}"></script>

    <div class="card" style="width: 18rem;">
        <img src="{% static 'images/heidi.jpg' %}" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">heidi</h5>
          <p class="card-text">its heidicartoon </p>
          <a href="#" class="btn btn-primary">Go somewhere</a>
        </div>
      </div>
    
</body>
</html>